<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="prcSystem.Properties.Settings.Configuração" connectionString="Data Source=DESKTOP-9H9K927\SQLEXPRESS;Initial Catalog=PrcSystems;Integrated Security=True" />
    </connectionStrings>
</configuration>